<h1><%= @title %></h1>
<ul>
  <dl>
    <dt>
      key
    </dt>
    <dd>
      value
    </dd>
    <% @dht.each do |k,v| %>
      <dt>
        <%= k %>:
      </dt>
      <dd>
        <%= v %>
      </dd>
    <% end %>
  </dl>
</ul>
