<div class="dht">
  <table class="table table-striped">
    <tr>
      <th>File ID</th>
      <th>Location</th>
    </tr>
    <% @node.dht_segment.each do |k,v| %>
    <tr>
      <td>
        <button class="copy-btn" data-clipboard-text="<%= k %>">
          <img src="/images/clipboard_icon.svg" alt="Copy to clipboard" />
        </button>
        <%= k %>
      </td>
      <td>
        <% v.each do |url| %>
            <div><a href="<%= url %>"><%= url %></a></div>
          <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
