<form class="box" method="post" action="/save_to_files" enctype="multipart/form-data">
  <div class="box_input">
    <input class="box_file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
    <label for="file"><span class="box_dragndrop">Drop files or Click here to choose files</span>.</label>
    <button class="box_button" type="submit">Upload</button>
  </div>
  <div class="box_uploading">Uploading&hellip;</div>
  <div class="box_success">Done!</div>
  <div class="box_error">Error! <span></span>.</div>
</form>