<div class="files">
  <table class="table table-striped">
      <tr>
        <th>File ID</th>
        <th>Location</th>
      </tr>
      <% @node.files.each do |k,v| %>
        <tr>
          <td>
            <button class="copy-btn" data-clipboard-text="<%= k %>">
              <img src="images/clipboard_icon.svg" alt="Copy to clipboard" />
            </button>
            <%= k %>
          </td>
          <td>
            <div><a href="<%= v %>"><%= v %></a></div>
          </td>
        </tr>
      <% end %>
    </table>
</div>




