<div class="files">
  <h4>files</h4>
    <dl>
      <% @node.files.each do |k,v| %>
        <dt>
          <%= k %>
        </dt>
        <dd>
          <a href="/files/<%= v %>"><%= v %></a>
        </dd>
      <% end %>
    </dl>
</div>





