<form action="/debug/rpc/send_find_node" method="post" class="rpc-form">
  <h4>Iterative find node</h4>
  <div class="form-group">
    <label for="query_id">Query id</label>
    <input type="text" id="query_id" name="query_id" class="form-control">
  </div>
  <input type="submit" class="btn btn-default" value="submit">
</form>

<form action="/debug/rpc/send_find_value" method="post" class="rpc-form">
  <h4>Iterative find value</h3>
  <div class="form-group">
    <label for="file_id">Query file_id</label>
    <input type="text" id="file_id" name="file_id" class="form-control">
  </div>
  <input type="submit" class="btn btn-default" value="submit">
</form>

<form action="/debug/rpc/send_it_store" method="post" class="rpc-form">
  <h4>Iterative store</h4>
  <div class="form-group">
    <label for="key">Store key</label>
    <input type="text" id="key" name="key" class="form-control">
    <label for="data">Store data (address)</label>
    <input type="text" id="data" name="data" class="form-control">
  </div>
  <input type="submit" class="btn btn-default" value="submit">
</form>

<form action="/debug/rpc/send_rpc_store" method="post" class="rpc-form">
  <h4>Send RPC Store</h4>
  <div class="form-group">
    <label for="key">Store key</label>
    <input type="text" id="key" name="key" class="form-control">
    <label for="data">Store data (address)</label>
    <input type="text" id="data" name="data" class="form-control">
    <label for="ip">Recipient IP</label>
    <input type="text" id="ip" name="ip" class="form-control">        
    <label for="port">Recipient Port</label>
    <input type="text" id="port" name="port" class="form-control">
    <label for="id">Recipient ID</label>
    <input type="text" id="id" name="id" class="form-control">
  </div>
  <input type="submit" class="btn btn-default" value="submit">
</form>

<form action="/debug/rpc/send_rpc_ping" method="post">
  <h4>Send Ping</h4>
  <div class="form-group">
    <label for="ip">Recipient IP</label>
    <input type="text" id="ip" name="ip" class="form-control">        
    <label for="port">Recipient Port</label>
    <input type="text" id="port" name="port" class="form-control">
    <label for="id">Recipient ID</label>
    <input type="text" id="id" name="id" class="form-control">
  </div>
  <input type="submit" class="btn btn-default" value="submit">
</form>