body {
  background: black;
  color: white;
  font-family: 'Courier New';
  font-weight: 100;
  min-width: 1420px
}

dd {
  margin-left: 0
}
header {
  margin: 0 50px
}
header nav {
  margin: 0 auto;
  width: 800px;
}

header nav dl{
  float: right;
  clear: right;
  margin: 20px 10px;
}

div.forms {
  float: left;
  width: 280px
}

div.forms form {
  border: 1px solid white;
  padding: 5px
}

div.list {
  float: left;
  margin-left: 40px;
}
nav a {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

nav ul {
  display: block;
  width: 700px;
  margin: 0 auto;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
}

nav h3 {
  font-weight: lighter;
  display: inline-block
}

nav dl {
  display: inline-block
}

nav dl dd, nav dl dt {
  display: inline-block
}

div.files, div.dht, div.buckets {
  width: 1000px;
  margin: 0 auto
}

div.buckets ul {
  width: 630px
}

div.buckets li {
  list-style-type: none;
  text-align: left;
  margin-left: 60px
}

div.files dd, div.dht dd{
  margin-left: 440px
}

div.files dt, div.dht dt{
  width: 440px
}

div.buckets dl {
  padding: 10px
}

div.contact {
  display: inline-block;
}

dt {
  color: green;
  width: 100px;
  text-align: right;
}

dt::after {
  content: ":";
}

a {
  color: white
}

a:hover {
  color: green;
}

main {
  margin: 30px 50px
}

main dt {
  float: left;
  clear: left;
  font-weight: bold;
}

input {
  color: black;
}

.box {
  width: 600px;
  color: black;
  font-size: 16px;
  background-color: #c8dadf;
  position: relative;
  padding: 100px 20px;
  text-align: center;
  outline: 1px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  -moz-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box {
  
}

.box_dragndrop,
.box_uploading,
.box_success,
.box_error,
.box_button {
  display: none;
}

.box_dragndrop {
  cursor: pointer;
  display: inline;
}

.box.is-dragover {
  outline: 1px dashed black;
  background-color: white;
  outline-offset: -15px;
}

.box.is-uploading .box_input {
  visibility: none;
}
.box.is-uploading .box_uploading {
  display: block;
}

.box_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}



